{% extends "userbase.html" %}
{% block content %}
  <div class="container">
    <div class="jumptron text-center">
      <h1>Wellcome {{user.first_name + ' ' + user.last_name }} is back home!</h1>
    </div>
    <div class="jumptron">

        <form action="" method="post" class="form-signin" novalidate >
            {{ form.hidden_tag()}}
                <div class="form-group">
                {{ form.inputTaskDescription.label(class="sr-only") }}
                {{ form.inputTaskDescription(class="form-control", placeholder="Enter task") }}
                {% if form.inputTaskDescription.errors %}
                {% for error in form.inputTaskDescription.errors %}
                <div class="alert alert-danger">
                    <strong>Error: </strong>[{{ error }}]
                </div>
                {% endfor %}
                {% endif %}
                </div>
            <div class="form-group">
                {{ form.inputPriority(class="custom-select") }}
            </div>
            <div class="form-group">
                {{ form.submit(class="btn btn-lg btn-success btn-block")}}
            </div>
        </form>
        <form action="" method="post" class="form-signin" novalidate >
            {{ form.hidden_tag()}}
            <table class="table table-striped table-bordered table-hover">
                <thead>
                <tr>Task</tr>
                </thead>
                <tbody>
                {% if user.tasks %}
                {% for task in user.tasks %}
                {% if task.status == "running" %}
                <tr class="{{ task.getColor() }}">

                        <td class="" style="width: 70%">{{ task.description }}</td>
                        <td>
                            <input type="submit" name="update{{ task.task_id }}" value="✏" class="btn btn-lg btn-success btn-block">
                        </td>
                        <td>
                            <input type="submit" name="done{{ task.task_id }}" value="✔" class="btn btn-lg btn-success btn-block">
                        </td>
                        <td>
                            <input type="submit" name="move_to_trash{{ task.task_id }}" value="❌" class="btn btn-lg btn-success btn-block">
                        </td>


                </tr>
                {% endif %}
                {% if taskid %}
                    {% if task.task_id == taskid %}


                <tr>
                    <td>
                        <div class="form-group">
                {{ editTaskForm.inputTaskDescription.label(class="sr-only") }}
                {{ editTaskForm.inputTaskDescription(class="form-control", value=task.description) }}
                {% if editTaskForm.inputTaskDescription.errors %}
                {% for error in editTaskForm.inputTaskDescription.errors %}
                <div class="alert alert-danger">
                    <strong>Error: </strong>[{{ error }}]
                </div>
                {% endfor %}
                {% endif %}
                </div>
                    </td>
                    <td>
                        <div class="form-group">
                            {{ editTaskForm.inputPriority(class="custom-select") }}
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            {{ editTaskForm.submitEditTask(class="btn btn-lg btn-success btn-block")}}
                        </div>
                    </td>
                </tr>
                        {% endif %}
                {% endif %}

                {% endfor %}
                {% else %}
                <div class="alert alert-warning text-center">
                    <h4>You dont have any tasks in your task list! </h4>
                </div>
                {% endif %}
                </tbody>
            </table>
            </form>

    </div>
  </div>
{% endblock %}